In [1]:
from sklearn.linear_model import LogisticRegression
import tensorflow as tf
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
import pandas as pds

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from sklearn.metrics import confusion_matrix


dataframeX = pds.read_csv('/Users/neelambabel/ADS Folder/patient_data.csv', usecols=[2, 7, 8, 9, 10, 11, 12])
dataframeY = pds.read_csv('/Users/neelambabel/ADS Folder/patient_data.csv', usecols=[13])


print(dataframeX.head())
print(dataframeY.head())

Using TensorFlow backend.

  Gender  Scholarship  Hipertension  Diabetes  Alcoholism  Handcap  \
0      F            0             1         0           0        0
1      M            0             0         0           0        0
2      F            0             0         0           0        0
3      F            0             0         0           0        0
4      F            0             1         1           0        0

   SMS_received
0             0
1             0
2             0
3             0
4             0
  No-show
0      No
1      No
2      No
3      No
4      No

In [2]:
dataframeY = dataframeY.rename(columns={'No-show': 'Status'})

In [3]:
dataframeY.head()

  Status
0     No
1     No
2     No
3     No
4     No

In [4]:
dataframeX.head()

,Gender,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,F,0,1,0,0,0,0
1,M,0,0,0,0,0,0
2,F,0,0,0,0,0,0
3,F,0,0,0,0,0,0
4,F,0,1,1,0,0,0

In [5]:
dataframeY.head()

  Status
0     No
1     No
2     No
3     No
4     No

In [6]:
def genderToInt(gender):
    if gender == 'M':
        return 0
    else:
        return 1
    
def statusToInt(Status):
    if Status == 'No':
        return 0
    else:
        return 1

dataframeX.Gender = dataframeX.Gender.apply(genderToInt)
dataframeY.Status = dataframeY.Status.apply(statusToInt)

print(dataframeX.head())
print(dataframeY.head())

   Gender  Scholarship  Hipertension  Diabetes  Alcoholism  Handcap  \
0       1            0             1         0           0        0
1       0            0             0         0           0        0
2       1            0             0         0           0        0
3       1            0             0         0           0        0
4       1            0             1         1           0        0

   SMS_received
0             0
1             0
2             0
3             0
4             0
   Status
0       0
1       0
2       0
3       0
4       0

In [7]:
print(dataframeY.head())

   Status
0       0
1       0
2       0
3       0
4       0

In [8]:
print(dataframeY.tail())

        Status
110522       0
110523       0
110524       0
110525       0
110526       0

In [9]:
dataframeX.shape

(110527, 7)

In [10]:
dataframeY.shape

(110527, 1)

In [11]:
# 1
seed = 7
np.random.seed(seed)

# 2
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(1, input_shape=(7,), init='uniform', activation='sigmoid'))
model.add(Dense(1, init='uniform', activation='sigmoid'))
model.add(Dense(1, init='uniform', activation='sigmoid'))
model.add(Dense(1, init='uniform', activation='sigmoid'))
model.summary()

# 3
import keras
tbCallBack = keras.callbacks.TensorBoard(log_dir='/tmp/keras_logs', write_graph=True)

# 4
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])
model.fit(dataframeX.values, dataframeY.values, epochs=9, batch_size=50,  verbose=1, validation_split=0.3, callbacks=[tbCallBack])

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 1)                 8
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 2
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 2
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 2
=================================================================
Total params: 14
Trainable params: 14
Non-trainable params: 0
_________________________________________________________________

/Users/neelambabel/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, input_shape=(7,), activation="sigmoid", kernel_initializer="uniform")`
  if __name__ == '__main__':
/Users/neelambabel/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`
  # Remove the CWD from sys.path while we load stuff.
/Users/neelambabel/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()
/Users/neelambabel/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:12: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`
  if sys.path[0] == '':

Train on 77368 samples, validate on 33159 samples
Epoch 1/9
77368/77368 [==============================] - 5s - loss: 0.1795 - acc: 0.7930 - val_loss: 0.1547 - val_acc: 0.8098
Epoch 2/9
77368/77368 [==============================] - 5s - loss: 0.1641 - acc: 0.7930 - val_loss: 0.1542 - val_acc: 0.8098
Epoch 3/9
77368/77368 [==============================] - 5s - loss: 0.1641 - acc: 0.7930 - val_loss: 0.1541 - val_acc: 0.8098
Epoch 4/9
77368/77368 [==============================] - 5s - loss: 0.1641 - acc: 0.7930 - val_loss: 0.1541 - val_acc: 0.8098
Epoch 5/9
77368/77368 [==============================] - 5s - loss: 0.1640 - acc: 0.7930 - val_loss: 0.1540 - val_acc: 0.8098
Epoch 6/9
77368/77368 [==============================] - 5s - loss: 0.1638 - acc: 0.7930 - val_loss: 0.1539 - val_acc: 0.8098
Epoch 7/9
77368/77368 [==============================] - 5s - loss: 0.1635 - acc: 0.7930 - val_loss: 0.1531 - val_acc: 0.8098
Epoch 8/9
77368/77368 [==============================] - 5s - loss: 0.1632 - acc: 0.7930 - val_loss: 0.1527 - val_acc: 0.8098
Epoch 9/9
77368/77368 [==============================] - 5s - loss: 0.1628 - acc: 0.7930 - val_loss: 0.1520 - val_acc: 0.8098